body {
    font-family: Arial, sans-serif;
    background-image: url('https://hotwalls.ru/wallpapers/1920x1080/kosmicheskiy_fon.jpg'); /* Замените URL на путь к вашему изображению */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Добавлено для мобильных устройств */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rectangle-button {
    display: inline-block;
    width: 100%; /* Используйте 100% ширины родителя */
    max-width: 400px; /* Ограничьте максимальную ширину */
    padding: 20px 0;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em; /* Используйте em для масштабирования текста */
    transition: background-color 0.3s;
    text-align: center;
}

.rectangle-button:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .rectangle-button {
        padding: 15px 0;
        font-size: 1.2em;
    }
    
    .container {
        padding: 20px;
    }
}