body {
    font-family: Arial, sans-serif;
    background-image: url('images/0afd0f3e-bc27-48c1-bdee-74d2cccc431c.jpg'); 
    
    background-size: auto;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Максимальная ширина 90% от экрана */
    width: 100%;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.rectangle-button {
    display: block;  /* Установлено значение block для кнопок */
    width: 100%;     /* Ширина кнопки равна 100% ширины родителя */
    max-width: 400px;/* Максимальная ширина кнопки */
    padding: 20px 0; /* Отступы внутри кнопок */
    background-color: #8e44ad; /* Фиолетовый цвет */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.5em; /* Размер текста */
    transition: background-color 0.3s;
    text-align: center;
    box-sizing: border-box; /* Учет отступов и границ в ширине */
}

.rectangle-button:hover {
    background-color: #732d91; /* Более темный фиолетовый при наведении */
}

@media (max-width: 600px) {
    .rectangle-button {
        padding: 15px 0; /* Уменьшение отступов на мобильных устройствах */
        font-size: 1.2em; /* Уменьшение размера текста на мобильных устройствах */
    }
    
    .container {
        padding: 20px; /* Уменьшение отступов контейнера на мобильных устройствах */
    }
}
